In [181]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

In [182]:
# set the date column as the index
# index column gives each row a unique identifier
weather = pd.read_csv("JFK Station.csv", index_col = "DATE")

In [183]:
weather

,STATION,NAME,ACMH,ACSH,AWND,FMTM,PGTM,PRCP,SNOW,SNWD,...,WT11,WT13,WT14,WT15,WT16,WT17,WT18,WT21,WT22,WV01
DATE,,,,,,,,,,,,,,,,,,,,,
1970-01-01,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",80.0,90.0,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-02,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",30.0,20.0,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-03,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",80.0,100.0,NaN,NaN,NaN,0.02,0.0,0.0,...,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN
1970-01-04,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",10.0,20.0,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
1970-01-05,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",30.0,10.0,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-27,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,10.74,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-28,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,8.50,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-29,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,7.16,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-30,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,6.26,NaN,853.0,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-31,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,NaN,NaN,NaN,0.27,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [184]:
weather.shape

(19358, 44)

In [185]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19358 entries, 1970-01-01 to 2022-12-31
Data columns (total 44 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATION  19358 non-null  object
 1   NAME     19358 non-null  object
 2   ACMH     9615 non-null   float64
 3   ACSH     9616 non-null   float64
 4   AWND     14242 non-null  float64
 5   FMTM     10124 non-null  float64
 6   PGTM     12269 non-null  float64
 7   PRCP     19358 non-null  float64
 8   SNOW     19358 non-null  float64
 9   SNWD     19357 non-null  float64
 10  TAVG     6235 non-null   float64
 11  TMAX     19358 non-null  int64
 12  TMIN     19358 non-null  int64
 13  TSUN     31 non-null     float64
 14  WDF1     9611 non-null   float64
 15  WDF2     9740 non-null   float64
 16  WDF5     9657 non-null   float64
 17  WDFG     5121 non-null   float64
 18  WDFM     1 non-null      float64
 19  WESD     6071 non-null   float64
 20  WSF1     9614 non-null   float64
 21  WSF2     9740 non-null   float64
 22  WSF5     9656 non-null   float64
 23  WSFG     7463 non-null   float64
 24  WSFM     1 non-null      float64
 25  WT01     7157 non-null   float64
 26  WT02     1257 non-null   float64
 27  WT03     1287 non-null   float64
 28  WT04     337 non-null    float64
 29  WT05     364 non-null    float64
 30  WT06     181 non-null    float64
 31  WT07     108 non-null    float64
 32  WT08     3921 non-null   float64
 33  WT09     140 non-null    float64
 34  WT11     14 non-null     float64
 35  WT13     2185 non-null   float64
 36  WT14     887 non-null    float64
 37  WT15     42 non-null     float64
 38  WT16     6577 non-null   float64
 39  WT17     60 non-null     float64
 40  WT18     1167 non-null   float64
 41  WT21     5 non-null      float64
 42  WT22     49 non-null     float64
 43  WV01     1 non-null      float64
dtypes: float64(40), int64(2), object(2)
memory usage: 6.6+ MB

In [186]:
weather.describe()

,ACMH,ACSH,AWND,FMTM,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,...,WT11,WT13,WT14,WT15,WT16,WT17,WT18,WT21,WT22,WV01
count,9615.000000,9616.000000,14242.000000,10124.000000,12269.000000,19358.000000,19358.000000,19357.000000,6235.000000,19358.000000,...,14.0,2185.0,887.0,42.0,6577.0,60.0,1167.0,5.0,49.0,1.0
mean,57.886635,60.665557,11.237993,1438.505828,1383.881245,0.117751,0.064433,0.208865,55.445389,61.786910,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
std,30.612050,33.353307,4.793856,758.281872,631.337736,0.330525,0.597869,1.270538,16.550058,17.402685,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
min,0.000000,0.000000,0.220000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,8.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
25%,30.000000,30.000000,8.280000,1101.750000,1023.000000,0.000000,0.000000,0.000000,42.000000,48.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
50%,60.000000,70.000000,10.510000,1526.000000,1458.000000,0.000000,0.000000,0.000000,56.000000,62.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
75%,80.000000,90.000000,13.420000,1850.000000,1837.000000,0.040000,0.000000,0.000000,70.000000,77.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
max,100.000000,100.000000,308.030000,32767.000000,2359.000000,7.800000,30.300000,28.000000,91.000000,103.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [187]:
null_percentage=(weather.apply(pd.isnull).sum()/weather.shape[0])*100

In [188]:
weather.shape[0]

19358

In [189]:
null_percentage

STATION     0.000000
NAME        0.000000
ACMH       50.330613
ACSH       50.325447
AWND       26.428350
FMTM       47.701209
PGTM       36.620519
PRCP        0.000000
SNOW        0.000000
SNWD        0.005166
TAVG       67.791094
TMAX        0.000000
TMIN        0.000000
TSUN       99.839859
WDF1       50.351276
WDF2       49.684885
WDF5       50.113648
WDFG       73.545821
WDFM       99.994834
WESD       68.638289
WSF1       50.335778
WSF2       49.684885
WSF5       50.118814
WSFG       61.447464
WSFM       99.994834
WT01       63.028205
WT02       93.506561
WT03       93.351586
WT04       98.259118
WT05       98.119640
WT06       99.064986
WT07       99.442091
WT08       79.744808
WT09       99.276785
WT11       99.927678
WT13       88.712677
WT14       95.417915
WT15       99.783035
WT16       66.024383
WT17       99.690051
WT18       93.971485
WT21       99.974171
WT22       99.746875
WV01       99.994834
dtype: float64

In [190]:
# columns with non-null values
non_null_columns = []
less_than5_columns = []
less_than25_columns = []
more_than25_columns = []
for column in weather.columns:
    if (weather[column].apply(pd.isnull).sum()/weather.shape[0])*100 == 0.0:
        non_null_columns.append(column)
    elif weather[column].apply(pd.isnull).sum()/weather.shape[0]*100 > 0.0 and weather[column].apply(pd.isnull).sum()/weather.shape[0]*100 <= 5.0 :
        less_than5_columns.append(column)
    elif weather[column].apply(pd.isnull).sum()/weather.shape[0]*100 > 5.0 and weather[column].apply(pd.isnull).sum()/weather.shape[0]*100 <= 25.0:
        less_than25_columns.append(column)
    elif (weather[column].apply(pd.isnull).sum()/weather.shape[0])*100 > 25.0:
        more_than25_columns.append(column)
print(len(non_null_columns))
print(non_null_columns)
print(len(less_than5_columns))
print(less_than5_columns)
print(len(less_than25_columns))
print(less_than25_columns)
print(len(more_than25_columns))
print(more_than25_columns)

6
['STATION', 'NAME', 'PRCP', 'SNOW', 'TMAX', 'TMIN']
1
['SNWD']
0
[]
37
['ACMH', 'ACSH', 'AWND', 'FMTM', 'PGTM', 'TAVG', 'TSUN', 'WDF1', 'WDF2', 'WDF5', 'WDFG', 'WDFM', 'WESD', 'WSF1', 'WSF2', 'WSF5', 'WSFG', 'WSFM', 'WT01', 'WT02', 'WT03', 'WT04', 'WT05', 'WT06', 'WT07', 'WT08', 'WT09', 'WT11', 'WT13', 'WT14', 'WT15', 'WT16', 'WT17', 'WT18', 'WT21', 'WT22', 'WV01']

## HANDLING MISSING VALUES FOR COLUMN WITH DATA MISSING LESS THAN 5%

In [191]:
weather.columns.get_loc("SNWD")

9

In [192]:
cols = [var for var in weather.columns if weather[var].isnull().mean() < 0.05 and weather[var].isnull().mean()>0]
cols

['SNWD']

In [193]:
print((len(weather[cols].dropna())/len(weather[cols])*100))

99.99483417708441

In [194]:
# if we do cca on the missing data, we only lose 0.005 % of the data

In [195]:
weather = weather[cols].dropna()

In [197]:
weather.isnull().sum()

SNWD    0
dtype: int64

            SNWD
DATE
1970-01-01   0.0
1970-01-02   0.0
1970-01-03   0.0
1970-01-04   0.0
1970-01-05   0.0
...          ...
2022-12-27   0.0
2022-12-28   0.0
2022-12-29   0.0
2022-12-30   0.0
2022-12-31   0.0

[19357 rows x 1 columns]